h1 {
    font-size: 1.3em;
    color: #844;
    font-style: bold;
}

label {
    width: 75px;
    display: inline-block;
}

table#board td {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #ddd;
}

table#board td.new {
    background-color: red;
}

table#board td.die {
    background-color: black;
}

.highlight {
	background-color:#5f9ea0;
}

.history {
    color: #777;
}

table.history td {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #eee;
}

table td {
  width:100px;
  height:100px;
  text-align:center;
  vertical-align:middle;
  background-color:#5f9ea0;
  border:1px solid #fff;
}

table td.highlighted {
  background-color:#999;
}

.error {
    color: red;
}

a {
    color: blue;
    text-decoration: underline;
}

.btnToLink {
    border: none;
    background-color: initial;
    padding: 0px;
    margin: 0px;
    font: initial;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin-right: 5px;
    margin-top: 30px;
    vertical-align: bottom;
}

.first .color.active {
    border-color: LightSkyBlue;
    border-width: 10px;
}

.second .color.active {
    border-color: Tomato;
    border-width: 10px;
}

.color:hover {
    border-width: 10px;
    broder-color: blue;
}

.c1 { background-color: blue; }
.c2 { background-color: red; }
.c3 { background-color: green; }
.c4 { background-color: yellow; }
.c5 { background-color: orange; }
.c6 { background-color: aqua; }
.c7 { background-color: MediumOrchid; }