.c0 { background-color: #ddd; }
.c1 { background-color: #44f; color: white; }
.c2 { background-color: #f44; color: white; }
.c3 { background-color: green; color: white; }
.c4 { background-color: #dd0; }
.c5 { background-color: orange; color: white; }
.c6 { background-color: #0dd; }
.c7 { background-color: MediumOrchid; }