@import url("/css/colors.css");

.cell {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 1px;
}

.board .row {
    margin-bottom: 1px;
    height: 20px;
}

.board {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

.progress {
    margin: 0px;
}

.panel {
    padding: 2px;
}

.panel .list-group-item {
    color: black;
}

.panel .list-group-item:first-child {
    border-radius: 5px 5px 0px 0px;
}
.panel .list-group-item:last-child {
    border-radius: 0px 0px 5px 5px;
}