<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>

    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
    <script th:src="@{http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/app/angular.js}"></script>
    <script th:src="@{/app/app.ctrl.js}"></script>
    <script th:src="@{http://www.google.com/jsapi}"></script>
</head>
<title>Conway Game Of Life</title>

<body>
<div class="text-center" ng-app="app.GameOfLife" ng-controller="GameOfLifeCntl">

    <h1>Conway Game of Life</h1>
    Height: <input type="number" ng-model="height"/>
    Width: <input type="number" ng-model="width"/>
    <button ng-click="newGame()">Generate</button>
    <button ng-click="next()">Next Step</button>

    <table class="text-center" id="board">
        <tr ng-repeat="row in board">
            <td ng-repeat="cell in row track by $index" ng-click="toggle($parent.$index, $index)"
                class="{{cellClass($parent.$index, $index)}}">
                <span ng-show="cell"></span>
            </td>
        </tr>
    </table>

    <p class="history" ng-show="history.length > 0">Previous steps (click to rewind)</p>
    <table class="history" cellpadding="0" cellspacing="0"  id="our_table">
        <tr>
            <td ng-repeat="step in history track by $index" ng-click="$parent.step($index)">{{$index}}</td>
        </tr>
    </table>
</div>

</body>
</html>