<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lord of the Cell</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/sockjs-0.3.4.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <script th:src="@{/app/angular.js}"></script>
    <script th:src="@{/app/game.angular.js}"></script>
    <script th:src="@{/app/game.websocket.js}"></script>
</head>
<body>
<div class="text-center" ng-app="game" ng-controller="gameCntl">
    <h1>Lord of the Cell</h1>
    <h1>{{spieler1}} VS {{spieler2}}</h1>
    <h2>Status: {{message}}</h2>
    <div class="board">
        <div class="row" ng-repeat="row in board">
            <div class="cell {{'c' + cell}}" ng-repeat="cell in row track by $index" ng-mousedown="userClicked($index, $parent.$index)"></div>
        </div>
    </div>
    <div id="state"><h2>Status:</h2></div>
    <button ng-click="ready();">ready</button>
</div>
</body>
</html>