<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lord of the Cell</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/sockjs-0.3.4.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <script th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/app/angular.js}"></script>
    <script th:src="@{/app/game.angular.js}"></script>
    <script th:src="@{/app/game.websocket.js}"></script>
</head>
<body>
<div class="text-center" ng-app="game" ng-controller="gameCntl">
    <h1>Lord of the Cell</h1>
    <h1>{{player1.name}} Zellen: {{player1.cells}}/{{maxCells}} Lager: {{player1.lager}} VS {{player2.name}} Zellen: {{player2.cells}}/{{maxCells}} Lager: {{player2.lager}}</h1>
    <div class="board">
        <div class="row" ng-repeat="row in board">
            <div class="cell {{'c' + cell}}" ng-repeat="cell in row track by $index" ng-mousedown="userSet($index, $parent.$index)"></div>
        </div>
    </div>
    <button class="ready" ng-click="ready();">Bereit</button>
    <button class="finish" ng-click="end();">Beenden</button>
    <h4>Status:</h4>
    <ul>
        <li ng-repeat="msg in message">{{ msg }}</li>
    </ul>
</div>
</body>
</html>