<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lord of the Cell</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/sockjs-0.3.4.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <script th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/app/angular.js}"></script>
    <script th:src="@{/app/boerse.angular.js}"></script>
    <script th:src="@{/app/boerse.websocket.js}"></script>
</head>
<body>
<div class="text-center" ng-app="boerse" ng-controller="boerseCntl">
    <h1>Lord of the Cell</h1>
    <h2>Status: {{message}}</h2>
    <div class="offer">
        <div class="row" ng-repeat="row in offer" ng-mouseclick="accept(row.username)">{{ row.username }}</div>
    </div>
    <button ng-click="add()">Hinzufügen</button><br />
    <button ng-click="remove()">Entfernen</button><br />
</div>
</body>
</html>