<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Conway Game Of Life</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <h2>Login</h2>
    <hr />
    <form action="/login" method="POST">
        <label for="username">Username:</label><input id="username" name="username" ng-model="username" /><br />
        <label for="passwort">Passwort:</label><input type="password" id="passwort" name="password" ng-model="password" /><br />
        <div class="error" th:text="${message}"/>
        <input type="submit" value="Login" /> <input type="submit" value="Register" name="register" />
    </form>
</body>
</html>