<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Conway Game Of Life</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <h2>Login</h2>
    <hr />
    <form th:action="@{/login}" method="POST">
        <label for="username">Username:</label><input id="username" name="username"/><br/>
        <label for="password">Passwort:</label><input type="password" id="password" name="password"/><br/>
        <input type="submit" value="Einloggen"/>
    </form>
    <div th:if="${param.error}">Nutzername oder Passwort falsch.</div>
    <div th:if="${param.logout}">Du wurdest ausgeloggt.</div>

    <form th:action="@{/register}" method="POST">
        <label for="username2">Username:</label><input id="username2" name="username"/><br/>
        <label for="password2">Passwort:</label><input type="password" id="password2" name="password"/><br/>
        <input type="submit" value="Registrieren"/>
    </form>
    <div th:if="${param.registered}">Du hast dich erfolgreich registriert und kannst dich jetzt einloggen.</div>
    <div th:if="${param.alreadyExists}">Der Nutzername existiert schon. Bitte versuche einen anderen Benutzernamen.</div>
</body>
</html>