<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Conway Game Of Life</title>
    <link th:href="@{/vander/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/vander/css/bootstrap-theme.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/vander/js/angular.js}" type="text/javascript"></script>
    <script th:src="@{/vander/js/jquery-3.1.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/vander/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/vander/js/sockjs-1.1.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/vander/js/stomp.min.js}" type="text/javascript"></script>
</head>
<body>

</body>
</html>